.materials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 68px;
  margin-top: 86px;
}

.materials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  li {
    text-align: center;
    margin-top: 56px;

    span {
      font-family: "Inter-bd", sans-serif;
    }

    &:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 576px;
      height: 312px;
      background: var(--color-dark);
      color: var(--color-white);

      p {
        padding: 68px;
      }

      @media (max-width: 603px) {
        width: 172px;
        height: auto;
        font-size: 14px;

        p {
          padding: 10px;
        }
      }

      @media (max-width: 536px) {
        order: -1;
      }
    }

    &:nth-child(4) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 384px;
      height: 312px;
      background: var(--color-dark);
      color: var(--color-white);

      p {
        padding: 28px;
      }

      @media (max-width: 603px) {
        width: 172px;
        height: auto;
        font-size: 14px;

        p {
          padding: 10px;
        }
      }
    }

    &:nth-child(5) {
      @media (max-width: 536px) {
        order: 1;
      }
    }

    &:nth-child(6) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 384px;
      height: 312px;
      background: var(--color-dark);
      color: var(--color-white);

      p {
        padding: 28px;
      }

      @media (max-width: 603px) {
        width: 172px;
        height: auto;
        font-size: 14px;

        p {
          padding: 10px;
        }
      }
    }

    &:nth-child(8) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 384px;
      height: 312px;
      background: var(--color-dark);
      color: var(--color-white);

      p {
        padding: 28px;
      }

      @media (max-width: 603px) {
        width: 172px;
        height: auto;
        font-size: 14px;

        p {
          padding: 10px;
        }
      }

      @media (max-width: 536px) {
        order: 3;
      }
    }

    @media (max-width: 603px) {
      img {
        width: 172px;
        height: auto;
      }
    }
  }
}
